## Tuples

### 1.Tuples are Immutable

  Tuples is a sequence of values.Values can be of any type.Tuple almost same like a list.But the imporatant difference between Tuple and List is,Tuples are immutable that means the value present in the tuples cannot be changed or modified

In [5]:
#Tuples is comma seperated values
t= 'san','Nila','Arun'
print(t)

('san', 'Nila', 'Arun')

In [4]:
#It is not Necseeary to encolse tuples ,but in comman we will do
t= ('san','Nila','Arun')
print(t)

('san', 'Nila', 'Arun')

In [6]:
print(type(t))

<class 'tuple'>

In [10]:
s=t[1]
print(s)
print(type(s))

Nila
<class 'str'>

In [11]:
print(t[1:2])

('Nila',)

In [12]:
print(t[0:2])

('san', 'Nila')

In [16]:
#cant modify the elements of tuple,but we can replace one tuple with another
s=('Varun',)+t[0:]
print(s)

('Varun', 'san', 'Nila', 'Arun')

### 2.Tuple Assignment

In [18]:
#we can easily swap the variable in tuple by doing this
a=6
b=5
a,b=b,a
print("Now a is:",a)
print("Now b is :",b)

Now a is: 5
Now b is : 6

In [21]:
#Left side is tuple of variables and Right side is Tuple of Values
Email_Id = "KSandhiya484@gmil.com"
User_Name,Domain = Email_Id.split('@')
print(User_Name)
print(Domain)

KSandhiya484
gmil.com

### 3.Return Values

In [22]:
t = divmod(8,3)
print(t)

(2, 2)

In [23]:
quot,rem = divmod(8,3)
print("the qoutient is:",quot)
print("The remainder is :",rem)

the qoutient is: 2
The remainder is : 2

In [25]:
def min_max(t):
    return min(t),max(t)
min_max((5,3))

(3, 5)

### 4.Lists and Tuples

In [31]:
Names = ["Sandy","Shiva","Keerthana","devi"]
marks = [98,99,97,97]
print("Names and Marks are:")
list_of_names = zip(Names,marks)

print(list(list_of_names))

Names and Marks are:
[('Sandy', 98), ('Shiva', 99), ('Keerthana', 97), ('devi', 97)]

In [32]:
s= 'abc'
t = [0,1,2]
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

In [34]:
Names = ["Sandy","Shiva","Keerthana","devi"]
marks = [98,99,97,97]
print("Names and Marks are:")
list_of_names = zip(Names,marks)
for names,marks in list_of_names:
    print(names,marks)

Names and Marks are:
Sandy 98
Shiva 99
Keerthana 97
devi 97

In [44]:
def has_match(t1,t2):
    for element_in_t1,element_in_t2 in zip(t1,t2):
        if element_in_t1 == element_in_t2:
            return True
    return False
print(has_match((6,4,5),(6,7,8)))
print(has_match((3,4,5),(5,7,8)))
print(has_match((3,4,3),(6,4,8)))
print(has_match((3,1,5),(6,7,8)))

True
False
True
False

In [46]:
#enmureate buit in function will be used in suituation like, you need to travesre through index
for index,elem in enumerate("sandy"):
    print(index,elem)

0 s
1 a
2 n
3 d
4 y

In [47]:
#Dictionaries have a method called items that returns a list of tuples, where each tuple is a key-value pair.
Dict  = {"Sandy":78,"Rudra":79}
t = Dict.items()
print(t)

dict_items([('Sandy', 78), ('Rudra', 79)])

In [49]:
#We can use tuples create a new dictoionary
tup = [('sandy',7),('rudra',8),('mai',10)]
New_dict = dict(tup)
print(New_dict)

{'sandy': 7, 'rudra': 8, 'mai': 10}

In [54]:
#dict with zip yields a concise way to create a dictionary:
d = dict(zip('sandy',range(len("sandy"))))
print(d)

{'s': 0, 'a': 1, 'n': 2, 'd': 3, 'y': 4}

In [56]:
d = dict(zip('abc', range(3)))
print(d)

{'a': 0, 'b': 1, 'c': 2}

### 5.Comapring Tuples 
  The relational operators work with tuples and other sequences; Python starts by comparing
the first element from each sequence. If they are equal, it goes on to the next elements, and
so on, until it finds elements that differ. Subsequent elements are not considered (even if
they are really big

In [57]:
#Here the first element is true
(0, 1, 2) < (0, 3, 4)

True

In [58]:
#Here the Second element is True
(0, 3, 2) < (1, 3, 4)

True

In [1]:
#Here the Third element is True
(0, 1, 4) < (0, 3, 4)

True